<div id="login" *ngIf="mostrarLogin">

    <alert-erro [hidden]="!showMessageAlert" class="row justify-content-center align-items-center">
        Usuário ou senha inválida !
    </alert-erro>

  <h3 class="text-center text-white pt-5">Login</h3>
  <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">
                          <label for="login" class="text-info">Login:</label><br>
                          <input type="text"  [(ngModel)]="usuario.Login" name="login" id="Login" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="Senha" class="text-info">Senha:</label><br>
                          <input type="password" [(ngModel)]="usuario.Senha" name="Senha" id="Senha" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="Soucliente" class="text-info"><span>Sou cliente investidor</span> 
                          <span><input id="soucliente" name="Soucliente" type="checkbox" [(ngModel)]="usuario.Soucliente"></span></label><br>
                         
                         
                         <!--   <label for="Soucliente" class="text-info">
                                <span> 
                                <a routerLink="/recuperar">Esqueci minha senha</a>
                                </span> 
                            </label>-->
                            <router-outlet></router-outlet>                 

                           
                          <br>
                          <input type="button" name="submit" class="btn btn-info btn-md" value="Entrar" (click)="Login()">
                      </div>
                     
                      
                      <div class="form-group">
                      
                      </div>
                      <div id="register-link" class="text-right">
                          <input type="button" name="submit" class="btn btn-info btn-md" value="Cadastre-se" (click)="Cadastrese()">
                       </div>                      
                      <cliente-new-modal></cliente-new-modal>
                </div>
            </div>
        </div>
    </div>
</div>





