<form (submit)="EditCliente()">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar cliente {{cliente?.Nome}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="cliente">   
                    <div class="accordion" id="accordionExample"> 
                        <div class="card"> 
                            <div class="card-header" id="heading1"> 
                                <h5 class="mb-0"> 
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1"> 
                                        Início 
                                    </button> 
                                </h5> 
                            </div>                  
                             <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample"> 
                                <div class="card-body"> 
                                    <div id="Inicio" class="tab-pane">
                                        <div class="form-group">
                                            <label>Nome</label>
                                            <input class="form-control" name="Nome" type="text" [(ngModel)]="cliente.Nome">
                                        </div>
                                        <div class="form-group">
                                            <label>DataNascimento</label>
                                            <input class="form-control" name="DataNascimento" type="date" [(ngModel)]="cliente.DataNascimento">
                                        </div>   
                                        <div class="form-group">
                                            <label>Estado Civil</label>
                                            <input class="form-control" name="EstadoCivil" type="text" [(ngModel)]="cliente.EstadoCivil">
                                        </div>  
                                        <div class="form-group">
                                            <label>Profissao</label>
                                            <input class="form-control" name="Profissao" type="text" [(ngModel)]="cliente.Profissao">
                                        </div>  
                                        <div class="form-group">
                                            <label>Nacionalidade</label>
                                            <input class="form-control" name="Nacionalidade" type="text" [(ngModel)]="cliente.Nacionalidade">
                                        </div>  
                                        <div class="form-group">
                                            <label>Responsavel</label>
                                            <input class="form-control" name="Responsavel" type="text" [(ngModel)]="cliente.Responsavel">
                                        </div> 
                                    </div>
                                </div> 
                            </div>         
                        </div>         
                        
                        <div class="card"> 
                            <div class="card-header" id="heading2"> 
                                <h5 class="mb-0"> 
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"> 
                                        Documentos 
                                    </button> 
                                </h5> 
                            </div> 
                            <div id="collapse2" class="collapse hide" aria-labelledby="heading2" data-parent="#accordionExample"> 
                                <div class="card-body"> 
                                    <div id="Documentos" class="tab-pane">
                                        <div class="form-group">
                                            <label>CPF</label>
                                            <input class="form-control" name="Documento" type="text" [(ngModel)]="cliente.Documento.CPF">
                                        </div>  
                                        <div class="form-group">
                                            <label>RG</label>
                                            <input class="form-control" name="RG" type="text" [(ngModel)]="cliente.Documento.RG">
                                        </div> 
                                        <div class="form-group">
                                            <label>Orgao Expeditor</label>
                                            <input class="form-control" name="OrgaoExpeditorRG" type="text" [(ngModel)]="cliente.Documento.OrgaoExpeditorRG">
                                        </div> 
                                        <div class="form-group">
                                            <label>Data Emissao</label>
                                            <input class="form-control" name="DataEmissaoRG" type="date" [(ngModel)]="cliente.Documento.DataEmissaoRG">
                                        </div> 
                                    </div>
                                </div> 
                            </div> 
                        </div> 

                        <div class="card"> 
                            <div class="card-header" id="heading3"> 
                                <h5 class="mb-0"> 
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"> 
                                        Conjuge 
                                    </button> 
                                </h5> 
                            </div> 
                            <div id="collapse3" class="collapse hide" aria-labelledby="heading3" data-parent="#accordionExample"> 
                                <div class="card-body"> 
                                    <div id="Conjuge" class="tab-pane">
                                        <div class="form-group">
                                            <label>NomeConjuge</label>
                                            <input class="form-control" name="NomeConjuge" type="text" [(ngModel)]="cliente.Conjuge.Nome">
                                        </div> 
                                        <div class="form-group">
                                            <label>CPFConjuge</label>
                                            <input class="form-control" name="CPFConjuge" type="text" [(ngModel)]="cliente.Conjuge.CPF">
                                        </div> 
                                        <div class="form-group">
                                            <label>RGConjuge</label>
                                            <input class="form-control" name="RGConjuge" type="text" [(ngModel)]="cliente.Conjuge.RG">
                                        </div> 
                                        <div class="form-group">
                                            <label>CelularConjuge</label>
                                            <input class="form-control" name="CelularConjuge" type="text" [(ngModel)]="cliente.Conjuge.Celular">
                                        </div> 
                                    </div>
                                </div> 
                            </div> 
                        </div>

                        <div class="card"> 
                            <div class="card-header" id="heading2"> 
                                <h5 class="mb-0"> 
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"> 
                                        Endereco 
                                    </button> 
                                </h5> 
                            </div> 
                            <div id="collapse4" class="collapse hide" aria-labelledby="heading4" data-parent="#accordionExample"> 
                                <div class="card-body"> 
                                    <div id="Endereco" class="tab-pane">                            
                                        <div class="form-group">
                                            <label>Endereco</label>
                                            <input class="form-control" name="Endereco" type="text" [(ngModel)]="cliente.Endereco.Logradouro">
                                        </div> 
                                        <div class="form-group">
                                            <label>Numero</label>
                                            <input class="form-control" name="Numero" type="text" [(ngModel)]="cliente.Endereco.Numero">
                                        </div> 
                                        <div class="form-group">
                                            <label>Bairro</label>
                                            <input class="form-control" name="Bairro" type="text" [(ngModel)]="cliente.Endereco.Bairro">
                                        </div> 
                                        <div class="form-group">
                                            <label>Municipio</label>
                                            <input class="form-control" name="Municipio" type="text" [(ngModel)]="cliente.Endereco.Municipio">
                                        </div> 
                                        <div class="form-group">
                                            <label>UF</label>
                                            <input class="form-control" name="UF" type="text" [(ngModel)]="cliente.Endereco.UF">
                                        </div> 
                                        <div class="form-group">
                                            <label>Cep</label>
                                            <input class="form-control" name="Cep" type="text" [(ngModel)]="cliente.Endereco.Cep">
                                        </div> 
                                        <div class="form-group">
                                            <label>Pais</label>
                                            <input class="form-control" name="Pais" type="text" [(ngModel)]="cliente.Endereco.Pais">
                                        </div>   
                                        <div class="form-group">
                                            <label>Celular</label>
                                            <input class="form-control" name="Celular" type="text" [(ngModel)]="cliente.Celular">
                                        </div>                            
                                    </div>
                                </div> 
                            </div> 
                        </div>


                        <div class="card"> 
                            <div class="card-header" id="heading2"> 
                                <h5 class="mb-0"> 
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" expanded="false" aria-controls="collapse5"> 
                                        Financeiro 
                                    </button> 
                                </h5> 
                            </div> 
                            <div id="collapse5" class="collapse hide" aria-labelledby="heading5" data-parent="#accordionExample"> 
                                <div class="card-body"> 
                                    <div id="Financeiro" class="tab-pane">                            
                                        <div class="form-group">
                                            <label>Banco</label>
                                            <input class="form-control" name="Banco" type="text" [(ngModel)]="cliente.Banco.Nome">
                                        </div> 
                                        <div class="form-group">
                                            <label>Agencia</label>
                                            <input class="form-control" name="Agencia" type="text" [(ngModel)]="cliente.Banco.Agencia">
                                        </div> 
                                        <div class="form-group">
                                            <label>Conta</label>
                                            <input class="form-control" name="Conta" type="text" [(ngModel)]="cliente.Banco.Conta">
                                        </div>   
                                        <div class="form-group">
                                            <label>TipoConta</label>
                                            <input class="form-control" name="TipoConta" type="text" [(ngModel)]="cliente.Banco.TipoConta">
                                        </div>    
                                        <div class="form-group">
                                            <label>Aporte </label>
                                            <input class="form-control" name="AporteFinanceiro" type="number" [(ngModel)]="cliente.Banco.AporteFinanceiro">
                                        </div>                     
                                        <div class="form-group">
                                            <label>TipoMoeda </label>
                                            <input class="form-control" name="TipoMoeda" type="text" [(ngModel)]="cliente.Banco.TipoMoeda">
                                        </div>                                             
                                    </div>
                                </div> 
                            </div> 
                        </div>
                        <div class="card"> 
                            <div class="card-header" id="heading6"> 
                                <h5 class="mb-0"> 
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6"> 
                                        Acesso 
                                    </button> 
                                </h5> 
                            </div> 
                            <div id="collapse6" class="collapse hide" aria-labelledby="heading6" data-parent="#accordionExample"> 
                                <div class="card-body"> 
                                    <div id="Acesso" class="tab-pane">                            
                                        <div class="form-group">
                                            <label>Login</label>
                                            <input class="form-control" name="Login" type="text" [(ngModel)]="cliente.Login">
                                        </div> 
                                        <div class="form-group">
                                            <label>Senha</label>
                                            <input class="form-control" name="Senha" type="password" [(ngModel)]="cliente.Senha">
                                        </div> 
                                        <div class="form-group">
                                            <label>Confirma senha</label>
                                            <input class="form-control" name="confirma" type="password" >
                                        </div>                                                                                      
                                    </div>
                                </div> 
                            </div> 
                        </div>  
                    </div>     
               </div>    
                                                
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

