<div class="modal-body" >   
    <div class="accordion" id="accordionExample"> 
        <div class="card"> 
            <div class="card-header" id="heading1"> 
                <h5 class="mb-0"> 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1"> 
                        Início 
                    </button> 
                </h5> 
            </div>                  
             <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample"> 
                <div class="card-body"> 
                    <div id="Inicio" class="tab-pane">
                        <div class="form-group"  [formGroup]="userForm">
                            <label class="lg-aa-label--edicao">Nome</label>
                            <input formControlName="nome" class="form-control is-invalid" required name="Nome" type="text" [(ngModel)]="cliente.Nome" >
                            <div *ngIf="userForm.get('nome').invalid && (userForm.get('nome').dirty ||
                            userForm.get('nome').touched)" class="alert alert-danger"> 
                            O Nome é Obrigatório 
                            </div>
                        </div>
                        <div class="form-group"  [formGroup]="userForm">
                            <label class="lg-aa-label--edicao">DataNascimento</label>
                            <input  type="date" formControlName="datanascimento" class="form-control is-invalid" required name="DataNascimento" [(ngModel)]="cliente.DataNascimento">
                            <div *ngIf="userForm.get('datanascimento').invalid && (userForm.get('datanascimento').dirty ||
                            userForm.get('datanascimento').touched)" class="alert alert-danger"> 
                            O data de nascimento é Obrigatório 
                            </div>
                        </div>   
                        <div class="form-group"  [formGroup]="userForm">
                            <label class="lg-aa-label--edicao">Estado Civil</label>
                            <select formControlName="estadocivil" class="form-control is-invalid" required class="form-control" name="EstadoCivil"  [(ngModel)]="cliente.EstadoCivil">
                                <option value="Solteiro">Solteiro</option>
                                <option value="Casado">Casado</option>
                                <option value="União Estável">União Estável</option>
                            </select> 
                            <div *ngIf="userForm.get('estadocivil').invalid && (userForm.get('estadocivil').dirty ||
                            userForm.get('estadocivil').touched)" class="alert alert-danger"> 
                            O estado civil é Obrigatório 
                            </div>
                        </div>  
                        <div class="form-group"  [formGroup]="userForm">
                            <label class="lg-aa-label--edicao">Profissão</label>
                            <input formControlName="profissao" class="form-control is-invalid" required name="Profissao" type="text" [(ngModel)]="cliente.Profissao">
                            <div *ngIf="userForm.get('profissao').invalid && (userForm.get('profissao').dirty ||
                            userForm.get('profissao').touched)" class="alert alert-danger"> 
                            O estado civil é Obrigatório 
                            </div>
                        </div>  
                        <div class="form-group"  [formGroup]="userForm">
                            <label class="lg-aa-label--edicao">Nacionalidade</label>
                            <input formControlName="nacionalidade" class="form-control is-invalid" name="Nacionalidade" type="text" [(ngModel)]="cliente.Nacionalidade">
                            <div *ngIf="userForm.get('nacionalidade').invalid && (userForm.get('nacionalidade').dirty ||
                            userForm.get('nacionalidade').touched)" class="alert alert-danger"> 
                            Nacionalidade é Obrigatório 
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="lg-aa-label--edicao">Responsável legal</label>
                            <input class="form-control" name="Responsavel" type="text" [(ngModel)]="cliente.Responsavel">
                        </div> 
                    </div>
                </div> 
            </div>         
        </div>         
        
        <div class="card"> 
            <div class="card-header" id="heading2"> 
                <h5 class="mb-0"> 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"> 
                        Documentos 
                    </button> 
                </h5> 
            </div> 
            <div id="collapse2" class="collapse hide" aria-labelledby="heading2" data-parent="#accordionExample"> 
                <div class="card-body"> 
                    <div id="Documentos" class="tab-pane">
                        <div class="form-group" [formGroup]="userForm">
                            <label>CPF</label>
                            <input formControlName="cpf" class="form-control is-invalid" name="Documento" type="text" [(ngModel)]="cliente.Documento.CPF">
                       
                            <div *ngIf="userForm.get('cpf').invalid && (userForm.get('cpf').dirty ||
                            userForm.get('cpf').touched)" class="alert alert-danger"> 
                            CPF é Obrigatório 
                            </div>
                        </div>  
                        <div class="form-group" [formGroup]="userForm">
                            <label>RG</label>
                            <input formControlName="rg" class="form-control is-invalid" name="RG" type="text" [(ngModel)]="cliente.Documento.RG">
                            <div *ngIf="userForm.get('rg').invalid && (userForm.get('rg').dirty ||
                            userForm.get('rg').touched)" class="alert alert-danger"> 
                            RG é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group">
                            <label>Orgao Expeditor</label>
                            <input class="form-control" name="OrgaoExpeditorRG" type="text" [(ngModel)]="cliente.Documento.OrgaoExpeditorRG">
                        </div> 
                        <div class="form-group">
                            <label>Data Emissão</label>
                            <input class="form-control" name="DataEmissaoRG" type="date" [(ngModel)]="cliente.Documento.DataEmissaoRG">
                        </div> 
                    </div>
                </div> 
            </div> 
        </div> 

        <div class="card"> 
            <div class="card-header" id="heading3"> 
                <h5 class="mb-0"> 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"> 
                        Cônjuge 
                    </button> 
                </h5> 
            </div> 
            <div id="collapse3" class="collapse hide" aria-labelledby="heading3" data-parent="#accordionExample"> 
                <div class="card-body"> 
                    <div id="Conjuge" class="tab-pane">
                        <div class="form-group">
                            <label>Nome</label>
                            <input class="form-control" name="NomeConjuge" type="text" [(ngModel)]="cliente.Conjuge.Nome">
                        </div> 
                        <div class="form-group">
                            <label>CPF </label>
                            <input class="form-control" name="CPFConjuge" type="text" [(ngModel)]="cliente.Conjuge.CPF">
                        </div> 
                        <div class="form-group">
                            <label>RG </label>
                            <input class="form-control" name="RGConjuge" type="text" [(ngModel)]="cliente.Conjuge.RG">
                        </div> 
                        <div class="form-group">
                            <label>Celular </label>
                            <input class="form-control" name="CelularConjuge" type="text" [(ngModel)]="cliente.Conjuge.Celular">
                        </div> 
                    </div>
                </div> 
            </div> 
        </div>

        <div class="card"> 
            <div class="card-header" id="heading2"> 
                <h5 class="mb-0"> 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"> 
                        Endereço 
                    </button> 
                </h5> 
            </div> 
            <div id="collapse4" class="collapse hide" aria-labelledby="heading4" data-parent="#accordionExample"> 
                <div class="card-body"> 
                    <div id="Endereco" class="tab-pane">                            
                        <div class="form-group" [formGroup]="userForm">
                            <label>Logradouro</label>
                            <input formControlName="logradouro" class="form-control is-invalid" name="Endereco" type="text" [(ngModel)]="cliente.Endereco.Logradouro">
                            <div *ngIf="userForm.get('logradouro').invalid && (userForm.get('logradouro').dirty ||
                            userForm.get('logradouro').touched)" class="alert alert-danger"> 
                            Logradouro é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group" [formGroup]="userForm">
                            <label>Número</label>
                            <input formControlName="numero" class="form-control is-invalid" name="Numero" type="text" [(ngModel)]="cliente.Endereco.Numero">
                            <div *ngIf="userForm.get('numero').invalid && (userForm.get('numero').dirty ||
                            userForm.get('numero').touched)" class="alert alert-danger"> 
                            Número é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group" [formGroup]="userForm">
                            <label>Bairro</label>
                            <input formControlName="bairro" class="form-control is-invalid" name="Bairro" type="text" [(ngModel)]="cliente.Endereco.Bairro">
                            <div *ngIf="userForm.get('bairro').invalid && (userForm.get('bairro').dirty ||
                            userForm.get('bairro').touched)" class="alert alert-danger"> 
                            Bairro é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group" [formGroup]="userForm">
                            <label>Município</label>
                            <input formControlName="municipio" class="form-control is-invalid" name="Municipio" type="text" [(ngModel)]="cliente.Endereco.Municipio">
                            <div *ngIf="userForm.get('municipio').invalid && (userForm.get('municipio').dirty ||
                            userForm.get('municipio').touched)" class="alert alert-danger"> 
                            Municipio é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group" [formGroup]="userForm">
                            <label>UF</label>                                           
                            <input formControlName="uf" class="form-control is-invalid" name ="UF" type="text" [(ngModel)]="cliente.Endereco.UF">
                            <div *ngIf="userForm.get('uf').invalid && (userForm.get('uf').dirty ||
                            userForm.get('uf').touched)" class="alert alert-danger"> 
                            UF é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group" [formGroup]="userForm">
                            <label>   <a href="javascript:void(0)" (click)="getEndereco(cliente.Endereco.Cep)">Localizar Cep</a>
                            </label>
                            <input formControlName="cep" class="form-control is-invalid" name="Cep" type="text" [(ngModel)]="cliente.Endereco.Cep">
                            <div *ngIf="userForm.get('cep').invalid && (userForm.get('cep').dirty ||
                            userForm.get('cep').touched)" class="alert alert-danger"> 
                            cep é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group">
                            <label>País</label>
                            <input class="form-control is-invalid" name="Pais" type="text" [(ngModel)]="cliente.Endereco.Pais">
                        </div>   
                        <div class="form-group" [formGroup]="userForm">
                            <label>Nº Celular</label>
                            <input formControlName="celular" class="form-control is-invalid" name="Celular" type="text" [(ngModel)]="cliente.Celular">
                            <div *ngIf="userForm.get('celular').invalid && (userForm.get('celular').dirty ||
                            userForm.get('celular').touched)" class="alert alert-danger"> 
                            celular é Obrigatório 
                            </div>
                        </div>                            
                    </div>
                </div> 
            </div> 
        </div>
        <div class="card"> 
            <div class="card-header" id="heading2"> 
                <h5 class="mb-0"> 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" expanded="false" aria-controls="collapse5"> 
                        Dados Bancário 
                    </button> 
                </h5> 
            </div> 
            <div id="collapse5" class="collapse hide" aria-labelledby="heading5" data-parent="#accordionExample"> 
                <div class="card-body"> 
                    <div id="Financeiro" class="tab-pane">                            
                        <div class="form-group" [formGroup]="userForm">
                            <label>Banco</label>
                            <input formControlName="banco" class="form-control  is-invalid" name="Banco" type="text" [(ngModel)]="cliente.Banco.Nome">
                            <div *ngIf="userForm.get('banco').invalid && (userForm.get('banco').dirty ||
                            userForm.get('banco').touched)" class="alert alert-danger"> 
                            banco é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group" [formGroup]="userForm">
                            <label>Agência</label>
                            <input formControlName="agencia" class="form-control is-invalid" name="Agencia" type="text" [(ngModel)]="cliente.Banco.Agencia">
                            <div *ngIf="userForm.get('agencia').invalid && (userForm.get('agencia').dirty ||
                            userForm.get('agencia').touched)" class="alert alert-danger"> 
                            Agencia é Obrigatório 
                            </div>         
                        </div>  
                        <div class="form-group" [formGroup]="userForm">
                            <label>Nº Conta</label>
                            <input formControlName="conta" class="form-control is-invalid" name="Conta" type="text" [(ngModel)]="cliente.Banco.Conta">
                            <div *ngIf="userForm.get('conta').invalid && (userForm.get('conta').dirty ||
                            userForm.get('conta').touched)" class="alert alert-danger"> 
                            Conta bancária é Obrigatória 
                            </div>
                        </div>   
                        <div class="form-group">
                            <label>TipoConta</label>
                            <input class="form-control" name="TipoConta" type="text" [(ngModel)]="cliente.Banco.TipoConta">
                        </div>    
                        <div class="form-group" [formGroup]="userForm">
                            <label>Aporte </label>
                            <input formControlName="aporte" class="form-control is-invalid" name="AporteFinanceiro" type="number" [(ngModel)]="cliente.Banco.AporteFinanceiro">
                            <div *ngIf="userForm.get('aporte').invalid && (userForm.get('aporte').dirty ||
                            userForm.get('aporte').touched)" class="alert alert-danger"> 
                            Aporte Financeiro é Obrigatório 
                            </div>
                        </div>                     
                        <div class="form-group" [formGroup]="userForm">
                            <label>Moeda </label>
                            <select formControlName="moeda" class="form-control is-invalid" name="TipoMoeda"  [(ngModel)]="cliente.Banco.TipoMoeda">
                                <option value="Real">Real</option>
                                <option value="Real">Dólar</option>
                                <option value="Real">Euro</option>
                            </select>   
                            <div *ngIf="userForm.get('moeda').invalid && (userForm.get('moeda').dirty ||
                            userForm.get('moeda').touched)" class="alert alert-danger"> 
                            Moeda é Obrigatório 
                            </div>                                         
                        </div>                                             
                    </div>
                </div> 
            </div> 
        </div>
        <div class="card"> 
            <div class="card-header" id="heading6"> 
                <h5 class="mb-0"> 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6"> 
                        Acesso 
                    </button> 
                </h5> 
            </div> 
            <div id="collapse6" class="collapse hide" aria-labelledby="heading6" data-parent="#accordionExample"> 
                <div class="card-body"> 
                    <div id="Acesso" class="tab-pane">                            
                        <div class="form-group" [formGroup]="userForm">
                            <label>Login</label>
                            <input formControlName="login" class="form-control is-invalid" name="Login" type="text" [(ngModel)]="cliente.Login">
                            <div *ngIf="userForm.get('login').invalid && (userForm.get('login').dirty ||
                            userForm.get('login').touched)" class="alert alert-danger"> 
                            Login é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group"  [formGroup]="userForm">
                            <label>Senha</label>
                            <input formControlName="senha" class="form-control is-invalid" name="Senha" type="password" [(ngModel)]="cliente.Senha">
                            <div *ngIf="userForm.get('senha').invalid && (userForm.get('senha').dirty ||
                            userForm.get('senha').touched)" class="alert alert-danger"> 
                            Senha é Obrigatório 
                            </div>
                        </div> 
                        <div class="form-group" [formGroup]="userForm">
                            <label>Confirma senha</label>
                            <input formControlName="confimaSenha" class="form-control" name="Confirma" type="password" [(ngModel)]="cliente.ConfirmaSenha">
                       
                        </div>                                                                                      
                    </div>
                </div> 
            </div> 
        </div>  
    </div>     
</div> 